# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
/.vscode/
/.idea/
*.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Virtual environment
venv/
